<app-header></app-header>

<main class="main">
    <div class="container">
          <div class="row">
              <div class="col s12 xl9">
                  <section class="block block__profile">
                      <div class="profile__picture">
                        <img src="assets/images/mahmundi.jpg"/>
                      </div>
                      <div class="profile__info">

                        <p class="profile__name">Mahmundi</p>
                        <p class="profile__user">@mahmundi</p>
                        <p class="profile__bio">Mulher, cantora e compositora brasileira. Num estilo próprio, flerto com a música eletrônica, indie, lo-fi e a poesia reflexiva brasileira</p>
                        
                        <ul class="info__statistics">
                            <li class=""><span>521</span> Perguntas</li>
                            <li class=""><span>48.851</span> Favoritos</li>
                        </ul>
                      </div>  
                  </section>

                  

                  <div class="row">

                    <!--
                      <div class="col s12 xl3">
                        <section class="block block__womens-in-music">
                            <article class="women">
                                <img href="" class="women__picture"/>
                                <p class="women__name">Delia Fischer</p>
                                <p class="women__username">@deliafischer</p>
                            </article>

                            <article class="women">
                                <img href="" class="women__picture"/>
                                <p class="women__name">Zanna</p>
                                <p class="women__username">@zanna</p>
                            </article>
                        </section>
                      </div> -->

                      <div class="col s12 xl12">
                          <section class="block block__comment">
                              <form class="comment__form">
                                  <div class="input-field col s12">
                                      <textarea id="textarea" class="materialize-textarea"></textarea>
                                      <label for="textarea">Pergunta pra ela!</label>
                                  </div>
                                  
                                  <div class="form__actions right-align">
                                      <button (click)="sendQuestion()" class="btn purple darken-2 waves-effect waves-light" type="submit" name="action">Enviar</button>
                                  </div>
                              </form>
                          </section>

                          <div class="block__posts">

                              <article class="post">
                                  <div class="post__author">
                                      <figure class="author__picture">
                                              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
                                      </figure>
  
                                      <p class="post__who">de <strong>@lubraga</strong></p>
                                      <p class="post__date">Há 1 dia atrás</p>
                                  </div>
                                  <div class="post__content">
                                      <p>Mahmundi, como você conseguiu virar técnica de som do Circo Voador e como foi migrar para ser cantora?</p>
                                  </div>
                                  <div class="post__actions">
                                      <ul>
                                          <li class="action__like">
                                             <a (click)="increaseLike()">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
                                                  <span class="likes__counter likes__counter1">255</span>  
                                              </a>
                                          </li>
  
                                          <li class="action__comments">
                                              <a href="">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment-medical" class="svg-inline--fa fa-comment-medical fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 32C114.62 32 0 125.12 0 240c0 49.56 21.41 95 57 130.74C44.46 421.05 2.7 466 2.2 466.5A8 8 0 0 0 8 480c66.26 0 116-31.75 140.6-51.38A304.66 304.66 0 0 0 256 448c141.39 0 256-93.12 256-208S397.39 32 256 32zm96 232a8 8 0 0 1-8 8h-56v56a8 8 0 0 1-8 8h-48a8 8 0 0 1-8-8v-56h-56a8 8 0 0 1-8-8v-48a8 8 0 0 1 8-8h56v-56a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8v56h56a8 8 0 0 1 8 8z"></path></svg>
                                                  <span class="comments__counter">58</span>  
                                              </a>
                                          </li>
  
                                          <li class="action__tags">
                                              <a class="tag" href="">#rap</a>
                                              <a class="tag" href="">#indie</a>
                                          </li>
                                      </ul>
                                  </div>
                              </article>
  
                              <article class="post post-reply">
                                      <div class="post__author">
                                          <figure class="author__picture">
                                            <img src="assets/images/mahmundi.jpg"/>
                                          </figure>
      
                                          <p class="author__name">de <strong>@mahmundi</strong></p>
                                          <p class="post__date">Há 1 dia atrás <br> Respondendo a <strong>@lubraga</strong></p>
                                      </div>
                                      <div class="post__content">
                                          <p>Comecei como estagiária. Eu ia sempre lá, ficava vendo os shows, não tinha grana, na outra semana já estava enrolando os cabos! De repente, passam alguns anos e eu já estava pilotando a mesa, fazendo shows grandes, correndo com a lanterna na cabeça, responsável por festival, por evento na praia, 40 graus e você passando cabo na areia de Copacabana, se emocionando muito. Foi uma vivência que me deu a possibilidade de olhar pra frente e perceber que eu ia fazer música. Muitos contatos sociais, muitas noites em claro, e a certeza de que fazer música era possível.</p>
                                      </div>
                                      <div class="post__actions">
                                          <ul>
                                              <li class="action__like">
                                                 <a href="javascript:void(0)">
                                                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
                                                      <span class="likes__counter">256</span>  
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </article>
                          </div>
                        </div>
                  </div>
              </div>
              <div class="col s12 xl3">
                  <aside class="block block__trends">
                      <h2 class="block__title">Trends</h2>
              
                      <ul class="tags tags--reverse">
                          <li>
                              <a class="tag" href="">#eletronica</a>    
                              <p class="trends__total">13 perguntas e respostas</p> 
                          </li>
              
                          <li>
                              <a class="tag" href="">#mixagem</a>    
                              <p class="trends__total">11 perguntas e respostas</p> 
                          </li>
              
                          <li>
                              <a class="tag" href="">#compsicao</a>    
                              <p class="trends__total">3 perguntas e respostas</p> 
                          </li>
                      </ul>
                  </aside>
              </div>    
          </div>
    </div>
</main>