<header class="header--homepage">
  <div class="container-fluid">
    <div class="row">
      <div class="col s6">
        <a class="header__logo" href="javascript:void(0)">
          <img src="" alt="Logo" title="Logo"> 
        </a>
      </div>
      <div class="col s6 right-align">
        <div class="header__actions">
          <a class="button button--login" href="">Entrar</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="main">
    <div class="container-fluid">
      <div class="row">
        
            <div class="col s12 xl6">
              <div class="block__mission bg--red">

                <div class="block__content">
                  <p>A população ela precisa da Zona Franca de Manaus, porque na Zona franca de Manaus, não é uma zona de exportação, é uma zona para o Brasil. Portanto ela tem um objetivo, ela evita o desmatamento, que é altamente lucravito. Derrubar arvores da natureza é muito lucrativo!</p>
                  <p>Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</p>
                </div>

                <div class="block__social">
                    <a class="social--facebook" href="javascript:void(0);"> <img src="assets/images/icons/facebook-button.svg"> </a>
                    <a class="social--instagram" href="javascript:void(0);"> <img src="assets/images/icons/instagram-logo.svg"> </a>
                </div>

              </div>         
            </div> 
            
            <div class="col s12 xl6">
                <form class="block__login bg--blue">
                    <div class="row">
                      <div class="input-field col s12">
                        <input  id="name" type="text" class="validate">
                        <label for="name">Nome</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">E-mail</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                         <div class="form__actions">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar</button>
                            <button class="btn purple darken-2 waves-effect waves-light" type="submit" name="action">Cadastrar Fake</button>
                         </div>
                      </div>
                    </div>
              </form>
            </div>

      </div>
    </div>
</main>