.block {
    padding: 20px;
    border-radius: 24px;
    border: 2px solid #ececec;
}

.block__profile {

    text-align: center;

    p {
        margin-bottom: 15px;
    }

    .profile__name {
        font-size: 20px;
        font-weight: 700;
        
    }
    
    .profile__nickname {
       color:#c9c9c9;
    }
    
    .profile__stars {
        
         font-weight: 700;
        
        strong {
            font-size: 20px;
           
            color: #770295;
            display: block;
            line-height: 42px;
        }
    }
    
    .profile__picture {
        width: 120px;
        margin: 0 auto 25px;

        height: 120px;
        padding: 10px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        background-color: #770295;
        border: 1px solid #770295;
        
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        svg {
            width: 80px;
            margin-bottom: -15px;
            
            path {
                fill: #f7e658;
            }   
        }
    }
}

.block__trends {
    .block__title {
        font-weight: 700;
        color: #770295;
        margin-top: 0;
        font-size: 16px;
    }

    .tags {
        li:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .trends__total {
        font-size: 12px;
        color: #c9c9c9;
    }
}


.block__timeline {
	.tabs {
		margin: 25px 0;
		border-radius: 16px;
        border: 2px solid #ececec;
        
        
		.tab {
            text-transform: initial;
            transition: all .3s;
            
			a {
				color: #bababa;
				font-weight: bold;
				font-size: 18px;
			}
            
			&.active,
			&:hover {
                background-color: #f7e658;
                
				a {
					color: #770295;
				}
			}
		}
	}
}


@media(max-width: 1200px){
    .block__profile {
        margin-bottom: 25px;
    }
}